@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CoreSHOP</title>

    <!--DEVELOPMENT ENV-->
    <environment names="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <!--PRODUCTION ENV-->
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)

</head>
<body>

    <!--NAVIGATION BAR-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CoreSHOP</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--ADMIN MENU-->
                    @*@await  Html.PartialAsync("_AdminPartial")*@
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Products" asp-action="Index">Products</a></li>
                            <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
                            <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
                            <li><a asp-controller="OrderItems" asp-action="Index">Order items</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-controller="Sales" asp-action="Index">View sales</a></li>
                        </ul>
                    </li>

                    <!--USER MENU-->
                    @*@await  Html.PartialAsync("_UserPartial")*@
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown">User<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="ShoppingCart" asp-action="Index">Cart</a></li>
                        </ul>
                    </li>

                    <!--DYNAMIC SHOPPING CART ICON-->
                    @await Component.InvokeAsync("ShoppingCartItemsCount")

                </ul>

                <!--LOGIN OPTIONS-->
                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </nav>

    <!--MAIN CONTENT-->
    <div class="container">
        @RenderBody()
    </div>

    <!--DEVELOPMENT ENV-->
    <environment names="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <!--PRODUCTION ENV-->
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!--FOOTER-->
    <hr />
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2017 - Marius Riis Haugan</p>
        </div>
    </footer>

</body>
</html>

