@{
    ViewData["Title"] = "Confirmation sent";
}
<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thanks for registering! We sent you an email that you must confirm before logging in (security reasons).
    </p>
</div>